/* -------------------------------------------------------------------------------- */
/* ! Ubuntu Typewriter */
/* -------------------------------------------------------------------------------- */

@font-face {
  font-family: "Space Mono";
  src:
    url("./assets/font/space-mono-bold.woff2") format("woff2"),
    url("./assets/font/space-mono-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src:
    url("./assets/font/space-mono-regular.woff2") format("woff2"),
    url("./assets/font/space-mono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Space Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
}
a:hover {
  color: #eee;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
}

/* -------------------------------------------------------------------------------- */
/* ! Utilities */
/* -------------------------------------------------------------------------------- */
.text-center {
  text-align: center;
}
.content-center {
  justify-content: center;
}

/* -------------------------------------------------------------------------------- */
/* ! Layout */
/* -------------------------------------------------------------------------------- */
main {
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr [breakout-start] 1fr [content-start] min(80%, 1200px)
    [content-end] 1fr [breakout-end] 1fr [full-width-end];
}

main > * {
  grid-column: content;
}

main > .breakout {
  grid-column: breakout;
}

/* -------------------------------------------------------------------------------- */
/* ! Components */
/* -------------------------------------------------------------------------------- */

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Buttons */

.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button,
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.btn:hover {
  border-color: #f9f9f9;
}
button:focus,
button:focus-visible,
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button.has-no-bg,
.btn.has-no-bg {
  background-color: transparent;
}
a.btn {
  text-align: center;
  display: block;
  color: #fff;
}

/* -------------------------------------------------------------------------------- */
/* ! Sections */
/* -------------------------------------------------------------------------------- */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.instructions-box,
.output-box {
  padding: 1rem;
  margin-block: 3rem;
  border: 1px dashed #f9f9f9;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .instructions-box,
  .output-box {
    width: 100%;
  }
}

.instruction-input p {
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 75%;
}

#world-grid {
  display: grid;
  border: 1px solid #f9f9f9;
  transform: scaleY(-1);
}

#world-grid > .cell {
  position: relative;
  border-left: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}

.arrow-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scaleY(-1);
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.5rem;
}

.start-container {
  text-align: center;
}

.restart-container {
  margin-top: 2rem;
}

[data-active="false"] {
  display: none !important;
}

/*
Popups
*********************/
.popup {
  width: 80%;
  max-width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999999;
  background: #313131;
  border: 1px solid #f9f9f9;
  padding: 3rem;
}
/*
Error popup
**********************/
.error-popup {
  text-align: center;
}

/*
Docs popup
**************************/
.docs-popup {
  overflow-y: scroll;
  height: 300px;
}

.docs-popup-content {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.docs-popup li:not(:last-child) {
  margin-bottom: 1rem;
}

.red-text {
  color: red;
}

.close-icon {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
